<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167062269-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-167062269-1');
      </script>

        <!-- Required Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title> Mx. Voice :: {{title}}</title>
        <link rel="icon" type="image/png" href="assets/img/favicon.png" />

        <!--Core CSS -->
        <link rel="stylesheet" href="{{root}}assets/css/bulma.css">
        <link rel="stylesheet" href="{{root}}assets/css/app.css">
        <link rel="stylesheet" href="{{root}}assets/css/core_kit1.css">

    </head>
    <body>
        {{> pageloader}}
        {{> body}}
        {{> sidebar}}
        {{> backtotop}}
        {{> scripts}}
    </body>
</html>
